#my_nav{
    height: 70px;
     
    box-shadow: 0 1px 10px #000;
}


#my_brand{
    font-size: 30px;
    padding-top: 10px;
    color: rgb(253, 253, 253);
}

#my_brand1{
    font-size: 20px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

div.img img{
    width: 50%;
    height: auto;
    border-radius: 100%;
}

div.img a {
    padding-left: 50px;
}